/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/app/*
/vendor
/uploads
.env
.env.backup
.phpunit.result.cache
/resources/lang/*.json
!/resources/lang/en.json
!/resources/lang/bn.json
!/resources/lang/ar.json
!/resources/lang/de.json
!/resources/lang/es.json
!/resources/lang/id.json
!/resources/lang/fr.json
!/resources/lang/hi.json
!/storage/app
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/backend/uploads
tests/database/app.sql
tests/database/testing.sql
/candidate
yarn.lock
package-lock.json
.vscode/
.idea/
